* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    /* background: #ecf4fb; */
}

.gallery-contents-one {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ecf4fb;
}

.gallery-contents-one .image-gallery-one {
    position: absolute;
    width: 80%;
    /* margin: 100px auto 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-contents-one .image-gallery-one img {
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.gallery-contents-one .image-gallery-one img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0px 32px 75px rgba(68, 77, 136, 0.2);
}

.gallery-contents-one .full-image-one {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.gallery-contents-one .full-image-one img {
    /* width: 35%; */
    /* For max width purposes */
    width: 90%;
    max-width: 500px;
}

.gallery-contents-one .full-image-one span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


/* Gallery Contents Two */
.gallery-contents-two {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ecf4fb;
}

.gallery-contents-two .image-gallery-two {
    position: absolute;
    width: 80%;
    /* margin: 100px auto 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-contents-two .image-gallery-two img {
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.gallery-contents-two .image-gallery-two img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0px 32px 75px rgba(68, 77, 136, 0.2);
}

.gallery-contents-two .full-image-two {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.gallery-contents-two .full-image-two img {
    /* width: 35%; */
    /* For max width purposes */
    width: 90%;
    max-width: 500px;
}

.gallery-contents-two .full-image-two span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}